.titulo2{
    text-align: left;
    text-emphasis: black;
    font-size: 14px;
}
.linhaArtigo{
    padding: 10px;
}

.cabecalho{
    padding: 10px;
    alignment-adjust: central;
}

.container{
    margin-top: 20px;
}